[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
langchainhub = "*"
python-dotenv = "*"
chromadb = "*"
ollama = "*"
langchain-ollama = "*"
faiss-cpu = "*"
langsmith = "*"
fastapi = "*"
uvicorn = "*"
langserve = "*"

[dev-packages]

[requires]
python_version = "3.13"
